.form-group {
    margin: 20px;
    margin-left: 50px;
    margin-right: 250px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
}